services:
  vrsctest:
    hostname: ${VERUSD_HOSTNAME}
    image: verustrading/verusd:0.1
    command: verusd -chain=vrsctest -testnet ${VERUSD_BOOTSTRAP_FLAG} &
    volumes:
      - ./data_dir:/root/.komodo/vrsctest
      - /home/${USER}/.zcash-params:/root/.zcash-params:ro
    networks:
      dev16:
        ipv4_address: ${VERUSD_IPV4}
    logging:
      driver: "json-file"
    stop_grace_period: 2m

networks:
  dev16:
    name: ${DOCKER_NETWORK_NAME}
    external: true
