COMPOSE_PROJECT_NAME=dev199
DOCKER_NETWORK_NAME=dev199
# VRSC
VERUSD_HOSTNAME=verusd_vrsctest
VERUSD_IPV4=10.199.0.11
VERUSD_P2P_PORT=27485
VERUSD_RPC_PORT=27486
LOCAL_RPC_PORT=27486
#VERUSD_BOOTSTRAP_FLAG=
VERUSD_BOOTSTRAP_FLAG=-bootstrap
