COMPOSE_PROJECT_NAME=pbaas_mainnets
DOCKER_NETWORK_NAME=pbaas_main
# VRSC
VERUSD_HOSTNAME=verusd_vrsc
VERUSD_IPV4=192.168.16.10
VERUSD_P2P_PORT=27485
VERUSD_RPC_PORT=27486
LOCAL_RPC_PORT=
VERUSD_BOOTSTRAP_FLAG=
#VERUSD_BOOTSTRAP_FLAG=-bootstrap
