COMPOSE_PROJECT_NAME=pbaas_mainnets
DOCKER_NETWORK_NAME=pbaas_main
# VDEX
CHAIN_NAME=vdex
VERUSD_HOSTNAME=verusd_vdex
CURRENCYID_HEX=53fe39eea8c06bba32f1a4e20db67e5524f0309d
VERUSD_IPV4=192.168.16.200
VERUSD_P2P_PORT=21777
VERUSD_RPC_PORT=21778
VERUSD_BOOTSTRAP_FLAG=
#VERUSD_BOOTSTRAP_FLAG=-bootstrap
