COMPOSE_PROJECT_NAME=pbaas_mainnets
DOCKER_NETWORK_NAME=pbaas_main
# VARRR
CHAIN_NAME=VARRR
VERUSD_HOSTNAME=verusd_varrr
CURRENCYID_HEX=e9e10955b7d16031e3d6f55d9c908a038e3ae47d
VERUSD_IPV4=192.168.16.100
VERUSD_P2P_PORT=20777
VERUSD_RPC_PORT=20778
VERUSD_BOOTSTRAP_FLAG=
#VERUSD_BOOTSTRAP_FLAG=-bootstrap
