COMPOSE_PROJECT_NAME=pbaas_mainnets
DOCKER_NETWORK_NAME=pbaas_main
# CHIPS
CHAIN_NAME=CHIPS
VERUSD_HOSTNAME=verusd_chips
CURRENCYID_HEX=f315367528394674d45277e369629605a1c3ce9f
VERUSD_IPV4=192.168.16.220
VERUSD_P2P_PORT=22777
VERUSD_RPC_PORT=22778
VERUSD_BOOTSTRAP_FLAG=
#VERUSD_BOOTSTRAP_FLAG=-bootstrap
